<nav class="navbar navbar-default navbar-fixed-top collapsed top-nav-collapse">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="../index.html">C-SAMBA</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="page-scroll" href="../index.html">Home</a></li>
                <li><a class="page-scroll" href="../index.html#overview">Overview</a></li>
                <li><a class="page-scroll" href="../index.html#people">Faculty</a></li>
                <li><a class="page-scroll" href="../index.html#publications">Publications</a></li>
                <li><a class="page-scroll" href="../research.html">Research</a></li>
                <li><a href="../events.html">Events</a></li>
                <li><a href="../news-archive.html">News Archive</a></li>
                <li><a data-toggle="modal" data-target="#funding">Funding</a></li>
                <li><a data-toggle="modal" data-target="#impact">Outreach</a></li>
                <li><a data-toggle="modal" data-target="#contact">Contact</a></li>
                <li><a data-toggle="modal" data-target="#" disabled>Logged In</a></li>
            </ul>
        </div>
    </div>
</nav>
